{{page-title "Settings"}}

<div class="p-5">
  <ColorPicker @updateView={{this.updateColors}} />
</div>

{{!-- @isLandscapeView={{true}} --}}
{{!-- @removeComponent={{@removeComponent}}
--}}
{{outlet}}
