{{page-title "Settings"}}

<h4>Welcome to settings components</h4>

<ColorPicker />

{{!-- @isLandscapeView={{true}} --}}
{{!-- @removeComponent={{@removeComponent}} @updateView={{this.updateColors}} --}}
{{outlet}}
