{{page-title "Settings"}}

<div class="p-5">
  <ColorPicker />
</div>

{{!-- @isLandscapeView={{true}} --}}
{{!-- @removeComponent={{@removeComponent}} @updateView={{this.updateColors}}
--}}
{{outlet}}
